body {
    background-color: #ed9aab;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content {
    background-color: #7785ac;
    color: #25283d;
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 650px;
    margin: 16px auto;
    padding: 24px;
    border-radius: 4%;
}

.site-content {
    display: flex;
}

.greeting, .about-section, .goal-section, .goodbye-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 48px;
    margin-bottom: 32px;;
}

.welcome-header, .welcome-text {
    margin: 0;
    padding: 4px;
    padding-bottom: 12px;
}

.welcome-header {
    font-size: 36px;
}

.content-about, .content-goals {
    font-size: 24px;
}

li, p {
    font-size: 16px;
}

.goodbye {
    font-size: 18px;
}




